<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- This is an example web.config only - please make sure that each element shown here is included in 
       your web config, in the correct section
    -->
  <configSections>
    <!-- This section names the 'googlesitemaps' section as containing provider information about-->
    <section name="googlesitemaps" type="iFinity.DNN.Modules.GoogleSiteMap.GoogleSiteMapSection, iFinity.DNN.GoogleSiteMapProvider" />
  </configSections>
  <!-- for iis 5/6 installations -->
  <system.web>
    <httpHandlers>
      <!-- Google SiteMap Provider HttpHandler.  This is a separate HttpHandler object which is also loaded into the base SiteMap Provider Assembly
           the path value isn't set - it can be changed to any value.
       -->
      <add verb="*" path="GoogleSiteMap.axd" type="iFinity.DNN.Modules.GoogleSiteMap.GoogleSiteMapHandler, iFinity.DNN.GoogleSiteMapProvider" />
    </httpHandlers>
  </system.web>
  <!-- for iis7 installations -->
  <system.webserver>
    <handlers>
      <!-- Google SiteMap Provider HttpHandler.  This is a separate HttpHandler which is also loaded into the base SiteMap Provider Assembly
           the path value doesn't have to be googlesitemap.axd - it can be changed to any value that asp.net will recognise, like sitemap.aspx
       -->
	   <add name="iFinitySitemapHandler"  verb="*" path="GoogleSiteMap.axd" type="iFinity.DNN.Modules.GoogleSiteMap.GoogleSiteMapHandler, iFinity.DNN.GoogleSiteMapProvider" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>
  </system.webserver>
  <googlesitemaps defaultProvider="BaseGoogleSitemapProvider">
    <providers>
      <add name="BaseGoogleSiteMapProvider" type="iFinity.DNN.Modules.GoogleSiteMap.GoogleSiteMapProvider" defaultPagePriority="0.5" defaultPageUpdateFrequency="daily" includeHiddenPages="false"/>
      <!-- 
      GoogleSiteMap Provider Attributes
      name -> Matches the 'FriendlyName' of the module the provider is for
      type -> The fully qualified namespace.type of the Provider Class, then the AssemblyName (minus the .dll)
      defaultPagePriority -> value from 0 - 1 for the default page priority as seen in the output sitemap
      defaultPageUpdateFrequency -> daily, weekly etc - the default page update frequency as seen in the output sitemap
      includeHiddenPages -> whether or not to output 'hidden' pages into the sitemap.  
                            NOTE: If a module-specific provider is installed, and the matching module is
                            installed on a hidden page, the module-specific sitemap provider overrides the includeHiddenPages.
                            Ie, a Blog module is installed on a hidden page.  If 'includeHiddenPages'= false in the BaseGoogleSiteMapProvider entry, and the Blog GoogleSiteMap provider
                            is installed, whether or not the Blog module output is included in the Sitemap is determined by the 'View_Blog.GoogleSiteMapProvider' module's 'includeHiddenPages' attribute.
      includeDisabledPages -> whether or not to output 'disabled' pages (page settings->advanced settings->disable)
                            This settings works in the same way as the includeHiddenPages settings - it works at the 
                            page-level for the base provider, and the module-specific provider level.  It allows the Url to be output
                            for a disabled page when includeDisabledPages="true".  The default value is false.
	  excludePages		  -> Either a list of tabids, or a list of page names, in a ; delimited value.  Ie 4;Secure;34;45 : you can mix tabid's and tabnames.  
							 Note that tabId's are absolute, while tab names can be shared across different portals and in the same portal with different parents.
							 A tab name match will exclude all tabs in any portal that matches the tab name.  A tabid is unique in the DNN install.  
	  adminPageRegex	  -> By default, not needed, but if necessary, a regex pattern that will match any admin page and exclude them from the list.  If you have admin pages that
							 are showing up in the sitemap, write a regex expression to match the TabPath value (see Tabs table for the TabPath, but basically it is the part of the url identifying the tab by name)
	  useCachedSitemap    -> Whether to cache the sitemap output to a file in the portal directory, under sitemaps/  True/False, false if omitted
      sitemapCacheMinutes -> Length of time, in minutes, to cache the sitemap output for.  This is calculated from the file write time of the cached sitemap output file.
	  useSitemapIndex     -> true/false.  Default/omitted=false.  When true, instead of outputting a sitemap, a sitemap index file is generated instead.  When true, sitemap caching is automatically used.
							 Each individual sitemap will be requested with googlesitemap.axd?sitemap=n where n is the number of the sitemap.  See the instructions file for more detail.
      maxEntriesPerSitemap -> configurable value of the number of url entries allowed per sitemap.  If omitted, uses the standard 50,000 as per the sitemap schema.  Use a value lower than 50,000 to split a large 
						      sitemap up into a number of smaller sitemaps using the sitemapIndex.
      -->
      <!-- example Module-Specific Providers -->
      <!-- News Articles Sitemap Provider -->
      <add name="DnnForge - NewsArticles.GoogleSiteMapProvider" type="iFinity.DNN.Modules.GoogleSiteMap.ArticlesGoogleSiteMapProvider, iFinity.DNN.ArticlesSitemapProvider" defaultPagePriority="0.5" defaultPageUpdateFrequency="daily" includeHiddenPages="false"/>
      <!--  
        News Articles Provider Attributes

        featuredOnly = "true" / "false" - When true, only featured articles are displayed in the SiteMap.  Default false;
        singlePagesOnly = "true" / "false" - When true, only the first page of articles are included in the Sitemap.  Default false
        maxNumArticles (integer value 1->upwards) - WHen specified, restricts the number of articles in the sitemap.  Articles are sorted by Start Date. Default unlimited.
        showHiddenAndExpired = "true" / "false" - Allows showing of hidden and expired articles -default false
        showCategories = "true" / "false" - Whether to put an entry for the pagename/Categories/ url in with each page with the Articles Module. Default false.
		useShortUrls = "true" / "false" - default false.  If using the 00.7.41 version introduced option of short urls, switch this to 'true'.
		showSecured = "true" / "false" - default false.  If true, will show the urls for secured articles (be sure to allow the summary to display to prevent indexing errors)
        -->

      <!-- Blog Sitemap Provider, used when DotNetNuke Blog module is installed -->
      <add name="View_Blog.GoogleSiteMapProvider" type="iFinity.DNN.Modules.GoogleSiteMap.BlogGoogleSiteMapProvider, iFinity.DNN.BlogGoogleSiteMapProvider" defaultPagePriority="0.5" defaultPageUpdateFrequency="daily" showArchives="true" includeHiddenPages="true" />
      <!-- 
      Blog Provider Attributes
        showArchives = {true,false} - Whether to include the 'archive' pages for a blog.  This includes the page Urls which are for each day that blog entry was added.
      -->
	  <!-- Forum Sitemap Provider, used when DotNetNuke Forum module is installed -->
	  <add name="Forum.GoogleSiteMapProvider" type="iFinity.DNN.Modules.GoogleSiteMap.ForumSiteMapProvider, iFinity.DNN.ForumSiteMapProvider" defaultPagePriority="0.5" defaultPageUpdateFrequency="daily" includeHiddenPages="false" maxPagePriority="0.75"  maxThreadsPerForum="50"/>
		<!-- 
      Forum Provider Attributes
        maxPagePriority : the highest priority a forum Url can take.  The page priority for a forum page is determined in 4 discrete increments from the defaultPagePriority to the maxPagePriority.
						  All entries will be given the default priority, but 25% of the difference is added for : 1) pinned threads, 2) popular threads, 3) threads rated higher than three and 4) the thread with the most views in the forum 
		maxThreadsPerForum	: the maximum number of threads, per forum, to output.  If you enter '50' threads, the each forum will output up to 50 threads as urls.  Thus, if you have 4 forums, your maximum sitemap entries will be 200.  The 
			                  default value (if attribute omitted) is 25
      -->
      <!-- Tag Sitemap Provider, used when iFinity.Tagger module is installed -->
      <add name="Tag List.GoogleSiteMapProvider" type="iFinity.DNN.Modules.GoogleSiteMap.TagGoogleSiteMapProvider, iFinity.DNN.TagGoogleSiteMapProvider" defaultPagePriority="0.5" defaultPageUpdateFrequency="daily" options="mostPopular" maxNumTags="100" includeHiddenPages="true" />
      <!-- 
      Tag Provider Attributes
        maxNumTags = {int value} - The number of tags to return as Sitemap Url's.  This will equal the number of sitemap entries generated from tags.
                                   The 'options' attribute determines which order the tags are sorted in.
        options = "mostPopular" - the tags returned are those with the most number of pages in the site tagged.
                  "mostRecent" - the tags returned as those that have been tagged most recently.
      -->
      </providers>
  </googlesitemaps>
</configuration>