<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ukfestivalguide">
<meta name="twitter:creator" content="@ukfestivalguide">
<meta name="twitter:image" content="http://www.summerfestivalguide.co.uk[IMAGELINK]" />
<meta property="og:site_name" content="www.summerfestivalguide.co.uk" />
<meta property="og:title" content="[TITLE]" />
<meta property="og:description" content="[DETAILS:200]">
<meta property="og:type" content="article" />
<meta property="og:url" content="[ARTICLELINK]" />
[HASIMAGE]
<meta property="og:image" content="http://www.summerfestivalguide.co.uk[IMAGELINK]" />[/HASIMAGE]
<meta property="fb:app_id" content="476669525683318"/>
<meta property="fb:admins" content="615011604"/>