	#umg_container[MODULEID]
	{
		background-color:#[BGCOLOR];
		color:#[TEXTCOLOR];
		width: [GALLERYWIDTH]px; 
		height: [GALLERYHEIGHT]px;
		font-size:[TEXTSIZE]px;
		position:relative;
		overflow:hidden;
	}

	#umg_largelist[MODULEID]
	{
		z-index:10;
		width:MATH[[GALLERYWIDTH]-154]px;
		height:100%;
		position:absolute;
		overflow:hidden;
	}

	#umg_large[MODULEID]
	{
		width:100%;
		height:100%;
	}

	#umg_large[MODULEID] .freetext
	{
		padding:30px;
		width:MATH[[GALLERYWIDTH]-60-154]px !important;
		width:100%;
	}

	#umg_caption[MODULEID]
	{
		display:none
	}

	#umg_xofy[MODULEID]
	{
		display:none;
	}

	#umg_more[MODULEID]
	{
		display:none;
	}

	#umg_more[MODULEID]:hover
	{
		text-decoration:none;
		color:#[CAPTIONTITLECOLOR];
	}

	#umg_buttons[MODULEID]
	{
		z-index:18;
		position:absolute;
		left:20px;
		top:MATH[[GALLERYHEIGHT]-30]px;
		font-size:0px;
	}

	#umg_prev[MODULEID]
	{
		background-image:url('[CURRENTPATH]buttons2.png');
		background-repeat:no-repeat;
		display:block;
		width:20px;
		height:20px;
		float:left;
		cursor:pointer;
	}

	#umg_prev[MODULEID]:hover
	{
		background-position:0 -20px;     
	}

	#umg_next[MODULEID]
	{
		background-image:url('[CURRENTPATH]buttons2.png');
		background-repeat:no-repeat;
		background-position: -42px 0;
		display:block;
		width:20px;
		height:20px;
		float:left;
		cursor:pointer;
	}

	#umg_next[MODULEID]:hover
	{
		background-position:-42px -20px;     
	}

	#umg_play[MODULEID]
	{
		background-image:url('[CURRENTPATH]buttons2.png');
		background-repeat:no-repeat;
		background-position: -21px 0;
		display:block;
		width:20px;
		height:20px;
		float:left;
		cursor:pointer;
	}

	#umg_play[MODULEID].active
	{
		background-position:-21px -40px;     
	}

	#umg_play[MODULEID]:hover
	{
		background-position:-21px -20px;     
	}

	#umg_play[MODULEID].active:hover
	{
		background-position:-21px -60px;     
	}

	#umg_countdown[MODULEID]
	{
		display:none;
	}

	#umg_loading[MODULEID]
	{
		display:none;
	}

	
	/* position and dimensions of the navigator */
	#umg_navi[MODULEID] {
		display:none;
	}

#umg_thumbslist[MODULEID]
{
		z-index:13;
		position:absolute;
		width:200px;
		height:100%;
		left:MATH[[GALLERYWIDTH]-200]px;
}

#umg_thumbs[MODULEID]
{
		position:absolute;
		width:100%;
		height:100%;
}

#umg_thumbslist[MODULEID] a
{
	float:left;
	padding-left:40px;
	padding-right:10px;
	width:MATH[200-50]px !important;
	width:100%;
	height:50px;
	line-height:25px;
	background-image:url('[CURRENTPATH]h300.png');
	background-position:0px -25px;     
	color:#000;
	font-size:120%;
}

#umg_thumbslist[MODULEID] a:hover
{
	background-image:url('[CURRENTPATH]h300.png');
	background-position:0px -125px;     
}

#umg_thumbslist[MODULEID] a.active, #umg_thumbslist[MODULEID] a.active:visited, #umg_thumbslist[MODULEID] a.active:hover
{
	background-image:url('[CURRENTPATH]h300.png');
	background-position:0px -225px;     
	color:#fff;
}
